@CHARSET "UTF-8";

.bsgridPaging {
    font-size: 13px;
    font-family: '微软雅黑', Verdana, sans-serif, '宋体', serif;
    width: 500px;
    border-collapse: collapse;
}

.bsgridPaging.noPageSizeSelect {
    width: 400px;
}

.bsgridPaging td {
    text-align: center;
}

/* paging toolbar pageSize select */
.bsgridPaging select {
    font-size: inherit;
}

/* paging toolbar button */
.bsgridPaging .pagingBtn {
    cursor: pointer;
    border-width: 0;
    width: 16px;
    background: transparent no-repeat;
    padding: 0;
}

.bsgridPaging .pagingBtn.firstPage {
    background-image: url(../images/icons/paging/go-first-view.png);
}

.bsgridPaging .pagingBtn.prevPage {
    background-image: url(../images/icons/paging/go-previous-view.png);
}

.bsgridPaging .pagingBtn.nextPage {
    background-image: url(../images/icons/paging/go-next-view.png);
}

.bsgridPaging .pagingBtn.lastPage {
    background-image: url(../images/icons/paging/go-last-view.png);
}

.bsgridPaging .pagingBtn.firstPage.disabledCls {
    background-image: url(../images/icons/paging/go-first-view.gray.png);
}

.bsgridPaging .pagingBtn.prevPage.disabledCls {
    background-image: url(../images/icons/paging/go-previous-view.gray.png);
}

.bsgridPaging .pagingBtn.nextPage.disabledCls {
    background-image: url(../images/icons/paging/go-next-view.gray.png);
}

.bsgridPaging .pagingBtn.lastPage.disabledCls {
    background-image: url(../images/icons/paging/go-last-view.gray.png);
}

.bsgridPaging .gotoPageInput {
    width: 40px;
    font-size: inherit;
    color: inherit;
    border:solid 1px #ccc;
}

.bsgridPaging .pagingBtn.gotoPage {
    background-image: url(../images/icons/paging/go-jump-2.png);
}