@CHARSET "UTF-8";

/* grid header */
.bsgrid th {
    background-image: url(../../images/skins/access/bg.gif);
}

/* grid header and column */
.bsgrid th, .bsgrid td {
    border-color: #18181a;
    background-color: #232d38;
    color: white;
}

/* grid even index row column color */
.bsgrid tr.even_index_row td {
    background-color: #1a232b;
}

/* grid selected row column color */
.bsgrid tr.selected td {
    background-color: #e48627!important;
}

/* paging toolbar out table */
.bsgridPagingOutTab {
    border-color: #18181a;
    background-color: #232d38;
}

.bsgridPaging {
    color: white;
}

/* paging toolbar button */
.bsgridPaging .pagingBtn {
    background-image: url(../../images/skins/access/bg.gif);
    border: solid 1px #18181a;
}

.bsgridPaging .gotoPageInput {
    border-color: #18181a;
    color: black;
}