@CHARSET "UTF-8";

/* grid header */
.bsgrid th {
    background-image: url(../../images/skins/blue/bg.gif);
}

/* grid header and column */
.bsgrid th, .bsgrid td {
    border-color: #99bce8;
    background-color: white;
    color: black;
}

/* grid even index row column color */
.bsgrid tr.even_index_row td {
    background-color: #fafafa;
}

/* grid selected row column color */
.bsgrid tr.selected td {
    background-color: #dfe8f6!important;
}

/* paging toolbar out table */
.bsgridPagingOutTab {
    border-color: #99bce8;
    background-color: white;
}

.bsgridPaging {
    color: black;
}

/* paging toolbar button */
.bsgridPaging .pagingBtn {
    background-image: url(../../images/skins/blue/bg.gif);
    border: solid 1px #99bce8;
}

.bsgridPaging .gotoPageInput {
    border-color: #99bce8;
}