@CHARSET "UTF-8";

/* grid header */
.bsgrid th {
    background-image: url(../../images/skins/gray/bg.gif);
}

/* grid header and column */
.bsgrid th, .bsgrid td {
    border-color: #d0d0d0;
    background-color: white;
    color: black;
}

/* grid even index row column color */
.bsgrid tr.even_index_row td {
    background-color: #fafafa;
}

/* paging toolbar out table */
.bsgridPagingOutTab {
    border-color: #d0d0d0;
    background-color: white;
}

.bsgridPaging {
    color: black;
}

/* paging toolbar button */
.bsgridPaging .pagingBtn {
    background-image: url(../../images/skins/gray/bg.gif);
    border: solid 1px #d0d0d0;
}

.bsgridPaging .gotoPageInput {
    border-color: #d0d0d0;
}