@CHARSET "UTF-8";

.bsgridPaging {
    font-family: 'Times New Roman';
    width: 768px;
}

.bsgridPaging.noPageSizeSelect {
    width: 628px;
}

.bsgridPaging td {
    text-align: center;
}

/* paging toolbar button */
.bsgridPaging .pagingBtn {
    cursor: pointer;
    border: 0;
    width: 55px;
    height: 22px;
    background: url(../images/skins/default/bg.gif) repeat-x #f4f4f4;
    color: #000;
    padding: 0 5px;
    margin: 0 5px;
}

.bsgridPaging .pagingBtn.disabledCls {
    color: #999;
}

.bsgridPaging .pagingBtn.firstPage {
}

.bsgridPaging .pagingBtn.prevPage {
}

.bsgridPaging .pagingBtn.nextPage {
}

.bsgridPaging .pagingBtn.lastPage {
}

.bsgridPaging .pagingBtn.gotoPage {
}