@CHARSET "UTF-8";

.bsgridPaging table {
    width: 500px;
}

.bsgridPaging table.noPageSizeSelect {
    width: 400px;
}

.bsgridPaging .pagingBtn {
    cursor: pointer;
    border: 0;
    width: 16px;
    height: 22px;
    background: no-repeat #f4f4f4;
    padding: 0 3px;
    margin: 0 3px;
}

.bsgridPaging .pagingBtn.firstPage {
    background-image: url(../images/icons/paging/go-first-view.png);
}

.bsgridPaging .pagingBtn.prevPage {
    background-image: url(../images/icons/paging/go-previous-view.png);
}

.bsgridPaging .pagingBtn.nextPage {
    background-image: url(../images/icons/paging/go-next-view.png);
}

.bsgridPaging .pagingBtn.lastPage {
    background-image: url(../images/icons/paging/go-last-view.png);
}

.bsgridPaging .pagingBtn.firstPage.disabledCls {
    background-image: url(../images/icons/paging/go-first-view.gray.png);
}

.bsgridPaging .pagingBtn.prevPage.disabledCls {
    background-image: url(../images/icons/paging/go-previous-view.gray.png);
}

.bsgridPaging .pagingBtn.nextPage.disabledCls {
    background-image: url(../images/icons/paging/go-next-view.gray.png);
}

.bsgridPaging .pagingBtn.lastPage.disabledCls {
    background-image: url(../images/icons/paging/go-last-view.gray.png);
}

.bsgridPaging .pagingBtn.gotoPage {
    background-image: url(../images/icons/paging/go-jump-2.png);
}